<ion-content [fullscreen]="true">
  
  <div class="video-container" [class.fade-out]="fadeOut">
    <video #introVideo 
           src="assets/intro.mp4" 
           autoplay 
           playsinline 
           class="intro-video" 
           [style.opacity]="isVideoPlaying ? 1 : 0"
           (playing)="videoPlaying()"
           (ended)="videoEnded()">
    </video>
    
    <div class="play-overlay" *ngIf="showPlayButton" (click)="manualPlay()">
      <ion-button color="warning" size="large" shape="round">
        <ion-icon name="play-circle-outline" slot="start"></ion-icon>
        Play Intro Video
      </ion-button>
    </div>
    
    <div class="actions">
      <ion-button color="light" fill="clear" (click)="skipVideo()">Skip Intro</ion-button>
    </div>
  </div>
</ion-content>
