<ion-content [fullscreen]="true" class="home-bg">
  <div class="home-container">
    <div class="logo-container">
      <h1 class="game-title">The Millionaire Mind</h1>
      <p class="subtitle">The Ultimate Trivia Challenge</p>
    </div>
    
    <div class="actions">
      <ion-item class="name-input-item ion-text-center" lines="none" style="text-align: center;">
        <ion-input [(ngModel)]="gameService.playerName" placeholder="Enter Your Name" class="name-input ion-text-center" style="text-align: center; width: 100%;"></ion-input>
      </ion-item>
      
      <ion-button expand="block" shape="round" color="warning" class="play-btn" routerLink="/intro">
        Play Game
      </ion-button>
    </div>
  </div>
</ion-content>
